.hero{

height:400px;

background:linear-gradient(#ff5db1,#ffc6e6);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

text-align:center;

}
.hero{

height:400px;

background:linear-gradient(#ff5db1,#ffc6e6);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

text-align:center;

}
